.app-wrapper {
	display: grid;
	width: 1500px;
	margin: 0 auto;
	grid-template-areas: 
	"h h"
	"s m";
	grid-template-rows: 90px 600px;
	grid-template-columns: 2fr 10fr;
	gap: 10px;

}

a {
	text-decoration: none;
}

.main_wrapper {
	grid-area: m;
}