.sidebar {
	background-color: #80ff00;
	grid-area: s;
	width: 100%;
}

.item {
	margin: 10px;
}

.item a {
	font-weight: bold;
	color: cornsilk;
	font-size: 1.5rem;
}

.item .active {
	color: cornflowerblue;
}