.header {
	grid-area: h;
	background-color:#5cc6fe;
	max-width: 1000px;
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 4px;
}

.header > img {
	height: 46px;
	border-radius: 10px;
	overflow: hidden;
}