.profileInfo_wrapper {
	display: grid;
	grid-column: 1/-1;
	grid-template-rows: 1fr auto;
	max-width: 100%;
	gap: 10px;
}



.banner {
	display: block;
}

.banner img {
	object-fit: cover;
	max-width: 100%;
	border-radius: 10px;
}



.person_info {
	display: grid;
	grid-template-columns: 200px 1fr;	
	gap: 10px;
}

.avatar_block {
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	display: grid;
	gap: 5px;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 4px;
}

.avatar_block .user_name {
	text-transform: capitalize;
}

.user_name .looking_for_job {
	margin: 10px;
}

.avatar_block img {
	object-fit: cover;
	max-width: 180px;
	height: 180px;
	border-radius: 4px;
}


.description_block {
	max-height: fit-content;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 4px;
}

.description_block h3 {
	margin-top: 0;
	margin-bottom: 5px;
}

.description_content {
	margin-bottom: 5px;
}