.posts {
	grid-column: 2/-1;
	display: grid;
	gap:10px
}

.new_post {
	padding: 10px;
	border-radius: 10px;
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 4px;
}

.new_post_content {
	width: 99%;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
}