.dialogs_wrapper {
	display              : grid;
	grid-template-columns: 1fr 3fr;
	width                : 80%;
	background-color     : #fff;
	border-radius        : 10px;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 4px;
}

.dialog_items {
	padding: 10px 0;
	display     : grid;
	font-size   : 1.3rem;
	border-right: 1px solid #5cc6fe;
}

.messages {
	padding: 10px 0;
	display  : grid;
	font-size: 1.2rem;
}